* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    display: inline-block;
  }
  
  .header {
    padding: 10px;
    text-align: center;
    font-size: 35px;
    text-shadow: -3px 3px 2px black;
    border-bottom: 5px solid white;
  }

  .header, .footer {
    background-color: #8c1aff;
    color: #f2eff6;
  }
  
  /* Container for flexboxes */
  .row {
    display: -webkit-flex;
    display: flex;
    border-bottom: 5px solid white;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 300px;
    display: flex;
    text-align:center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .bg-title {
      text-transform: uppercase;
  }

  .bg-title, table {
    margin: 10px;
  }

  img {
      max-width: 100%;
      box-shadow: -7px 7px 3px black;
      border: 2px solid white;
  }

  table {
      text-align: left;
      padding-top: 20px;
      padding-bottom: 20px;
      opacity: 0.8;
      margin-top: 20px;
  }

  td, th {
      padding: 5px;
  }
  
  /* Style the footer */
  .footer {
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .header {
        font-size: 25px;
    }
  }
